.works {
  padding: 0 3rem;
  display: flex;
  height: 90vh;
  margin-top: 4rem;
  /* align-items: center; */
}

.w__right {
  position: relative;
}

.w__circle {
  position: absolute;
  left: 9rem;
  width: 18rem;
  height: 18rem;
  border-radius: 100%;
  box-shadow: var(--smboxShadow);
  top: 2rem;
  background: #fff;
  z-index: 2;
}

.w__circle > * {
  position: absolute;
}

.w__circle > :nth-child(1) {
  top: -3rem;
  left: 6rem;
}
.w__circle > :nth-child(2) {
  top: 6rem;
  left: -3rem;
}
.w__circle > :nth-child(3) {
  top: 6rem;
  left: 6rem;
}
.w__circle > :nth-child(4) {
  top: 6rem;
  left: 15rem;
}
.w__circle > :nth-child(5) {
  top: 14rem;
  left: 6rem;
}

.w__circle__items {
    width: 6rem;
    height: 6rem;
    position: absolute;
    border-radius: 100%;
    border: 5px solid #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    background: #fff;
    box-shadow: var(--smboxShadow);
}

.w__circle__items > img {
    transform: scale(0.6);
}

.w__bg__circle {
    position: absolute;
    height: 13rem;
    width: 13rem;
    border-radius: 100%;
    z-index: -1;
}

.blue__circle {
    background: #1949B8;
    left: 18rem;
    top: 0;
}

.yellow__circle {
    background: #eaf606;
    left: 18rem;
    top: 8rem;
}